.minus {
    font-weight: bold;
    color: red;
}
.score {
    float: left !important;
}
.score + p {
    margin: 0 !important;
}
.plus {
    font-weight: bold;
    color: green;
}
#points {
    font-size: 24px;
}
#episode-desc {
    margin-top: 10px;
}